:root {
  --nav-bar-ow-height: 78px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}
main {
  height: 100%;
}
/*-------------------Header-------------------*/
.logo-mobile-bool {
  width: 46px;
}
.search-bar-ow {
  border: none;
  background-color: transparent;
}
.search-bar-border-ow {
  background-color: #e5e5e5;
  border-radius: 10px;
  padding: 5px 10px;
}
/* -------------------Main------------------- */

/*sidebar*/
.side-bar-ow {
  height: calc(100% - var(--nav-bar-ow-height));
}
.icon-ow-width {
  width: 18px;
}
.nav-link-bg-ow {
  background-color: transparent !important;
}
.sidebar-bg-ow {
  background-image: url(../img/sidebar-bg.png);
}

/*Right container*/
.right-container {
  background-color: #f8f9fa;
}
/* -------------------Footer------------------- */
