:root {
  --nav-bar-ow-height: 78px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  display: flex;
}
main {
  height: 100%;
}

/*-------------------Header-------------------*/
.logo-mobile-bool {
  width: 46px;
}
.search-bar-ow {
  border: none;
  background-color: transparent;
}
.search-bar-border-ow {
  background-color: #e5e5e5;
  border-radius: 10px;
  padding: 5px 10px;
}

/* -------------------Main------------------- */
.main-height {
  height:calc(100vh - var(--nav-bar-ow-height));
}
.icon-ow-width {
  width: 18px;
}
.nav-link-bg-ow {
  background-color: transparent !important;
}
.sidebar-bg-ow {
  background-image: url(../img/sidebar-bg.png);
}
.side-hover:hover {
  background-color: white;
  --bs-white-rgb: 0, 0, 0;
}

/*Right container*/
.right-container {
  background-color: #f8f9fa;
}
.color-text  {
  color:black;
}
.student-quantity {
  font-size: 2rem;
}
.add-student-btn {
  border:1px solid white;
  background-color: transparent;
  border-radius:7px;
  width:40px;
  height:40px;
  margin-left:10px;
}
.add-student-btn:active {
  background-color: #1553aa;
}
.bg-ow {
  background-color: #165bba;
  margin:3px;
}
.show-more-badges {
  display:none;
}
.class-img {
  width:30px;
  margin-right:10px;
}
.max-col-long {
  max-width:60%;
}
.class-btn {
  color:grey;
  border:1px solid grey;
  background-color: transparent;
  border-radius:5px;
  height:30px;
  width:30px;
}
.offcanvas {
  --bs-offcanvas-width: 900px;
}



/* -------------------Footer------------------- */
@media screen and (max-width:1450px) {
  .d-none-shrinking {
    display:none;
  }
  .show-more-badges {
    display:block;
  }
}
@media screen and (max-width:768px) {
  .d-none-media {
    display:none;
  }
  th {
    width:20%;
  }
}